.main-layout {
  display: flex;
  height: 100vh;
  border: 2px solid var(--accent-primary);
  border-radius: 2rem;
  overflow: hidden;
  box-shadow: var(--shadow);
}

.content-area {
  flex: 1;
  overflow-y: auto;
  padding: 2rem;
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--border-color);
    border-radius: 4px;
  }
}
