.dynamic-icon {
  font-size: 0.8rem;
  color: black;
  font-weight: 900;
  padding: 0.1rem 0.2rem;
  border-radius: 0.2rem;
}

.lavka{
  background-color: var(--lavka-bg);
}

.house{
  background-color: var(--house-bg);
}

.biz{
  background-color: var(--biz-bg);
}

.call {
  background-color: var(--call-bg);
}
